@use "abstracts/variables" as v;
@use "vendors/normalize";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');
