$desktop: 1224px;
$tablet: 768px;
$barlow: 'Barlow', sans-serif;
$Bl-con: 'Barlow Condensed', sans-serif;
//COLORS PRIMERY

$main_black: hsl(230, 33%, 7%);
$gray: #979797;
$dark-gray: rgba(255, 255, 255, .3);
$very_light_blue: #D0D6F9;
$white: #ffffff;

//FONT related stuff

$Heading1: 15rem;
$Heading2: 10rem;
$Heading3: 5.6rem;
$Heading4: 3.2rem;
$Heading5: 2.8rem;
$Blur: 88.55;

$subheading1: 2.8rem;
$subheading2: 1.4rem;
$subheading3: 1.6rem;

$NavText: 1.6rem;

$regularText: 1.8rem;
$regularText1: 1.5rem;
$space: .25rem;
$big_space: .47rem; 